.goog-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: $xs-max) {
  .goog-list__item {
    padding: 20px;

    &_light {
      padding-bottom: 20px;
    }
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .goog-list {
    @include fl_sb;
    margin-left: -30px;
    margin-right: -30px;
  }

  .goog-list__item {
    flex-basis: 324px;
    flex-grow: 1;
    margin: 70px 30px;
    padding: 40px 35px;
    min-height: 430px;
  }
}

@media (min-width: $xl-min) {
  .goog-list {
    @include fl_sb;
    margin-left: -40px;
    margin-right: -40px;
    max-width: 1945px;
  }

  .goog-list__item {
    flex-basis: 245px;
    flex-grow: 1;
    margin: 70px 40px;
    padding: 40px 35px;
    min-height: 430px;
  }
}
