.life__title {
  margin-bottom: 35px;
  margin-top: 35px;
}

.life__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
}

.life__subtitle {
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  text-align: center;
}
