@media (min-width: $m-min) and (max-width: $m-max) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $xl-min) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
