@media (max-width: $xs-max) {
  .progress {
    min-width: 85px;
    max-height: 15px;
    background-color: $bg-color;
    border: 1px solid $catalog-mini-border-color;
    border-radius: 10px;
    cursor: pointer;
  }

  .progress__box {
    margin: 3px;
    @include size(35px, 7px);
    background-color: $basic-fill;
    border-radius: 7px;
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .progress {
    position: relative;
    min-width: 425px;
    max-height: 6px;
    background-color: $catalog-mini-border-color;
    border-radius: 6px;
  }

  .progress__box {
    position: absolute;
    top: -16px;
    left: 200px;
    margin: 3px;
    @include size(34px, 34px);
    background-color: $bg-color;
    border: 1px solid $catalog-mini-border-color;
    border-radius: 50%;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 13px;
      @include size(8px,8px);
      border-radius: 50%;
      background-color: $basic-fill;
    }
  }
}
