.ticket {
  position: relative;
  min-width: 125px;
  padding-bottom: 15px;
}

.ticket__box {
  width: 100%;
  border: 1px solid $catalog-mini-border-color;
  border-radius: 3px;
}

.ticket__content {
  margin: 0;
  padding: 15px 0;

  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.ticket__legend {
  position: absolute;
  top: 46px;
  left: 21px;
  width: 69%;
  padding: 0 8px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
