.btn {
  appearance: none;
  display: inline-block;
  margin: 0;
  min-width: 100px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  color: inherit;
  background-color: transparent;
  text-decoration: none;

  border: none;
  // border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.3s ease-out;

  &:hover {
    background-color: transparent;
  }

  &:focus {
    outline: none;
    // box-shadow: 0 0 0 4px #cbd6ee;
  }
}

.btn__base,
.btn__other {
  max-width: 420px;
  font-size: 16px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}

@media (max-width: $xs-max) {
  .btn__base,
  .btn__other {
    width: 100%;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.29;
    }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .btn__base,
  .btn__other {
    padding: 16px 25px;
    font-size: 20px;
    line-height: 1;
    }
}

// ////////////////////////////
// Главное меню (кнопка "Бургер")
// ////////////////////////////
@media (max-width: $xs-max) {
  .btn__main-menu {
    position: absolute;
    top: 15px;
    right: 10px;

    cursor: pointer;
  }

  .navbar__js_closed .btn__main-menu {
    width: 30px;
    height: 27px;
    top: 10px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 30px;
      height: 3px;
    }
  }

  .navbar__js_opend .btn__main-menu {
    width: 25px;
    height: 22px;
    top: 12px;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 8px;
      right: 0;

      width: 25px;
      height: 4px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .navbar__js_nojs .btn__main-menu {
    display: none;
  }
}

@media (min-width: $m-min) and (max-width: $m-max) {
  .btn__main-menu {
    display: none;
  }
}

@media (min-width: $xl-min) {
  .btn__main-menu {
    display: none;
  }
}
