// базовые цвета
$bg-color: #ffffff;
$txt-color: #000000;

// бозовая палитра
$base-color-1: #ffffff;
$base-color-2: #ffffff;
$base-color-3: #ffffff;
$base-color-4: #ffffff;

// меню и навигация
$color-btn-menu: #ffffff;
$color-btn-menu-hover: #ffffff;
$color-btn-menu-active: #ffffff;
// кнопки
// социконки
