// базовые цвета
$bg-color: #ffffff;
$bg-color-grey: #f2f2f2;
$basic-fill: #68b738;

$txt-color: #111111;
$txt-color-light: #ffffff;

// бозовая палитра
$base-color-1: #ffffff;
$base-color-2: #ffffff;
$base-color-3: #ffffff;
$base-color-4: #ffffff;

// меню и навигация
$color-btn-menu: #ffffff;
$color-btn-menu-hover: #ffffff;
$color-btn-menu-active: #ffffff;
// кнопки
// социконки
