body {
  @include colors($txt-color, $bg-color);
}

.examples__item {
  background-color: $bg-color-grey;
}

.axamples__text {
  color: $txt-color-dim;
}

.how-work__item-text {
  color: $txt-color-dim;
}

.page-block__face {
  // background-color: $basic-fill;
}

.page-block__life {
  background-color: $bg-color-grey;
}

.btn__base {
  @include colors($txt-color-light, $basic-fill);
}

.how-work__img-box {
  background-color: $basic-fill;
}

.page-content__face {
  color: $txt-color-light;
}

.footer {
  background-color: $bg-color-grey;
}

.copyright__title {
  color: $txt-color-dim;
}

.card__consist {
  color: $txt-color-dim;
}

// Декор

.examples__footer {
  border-top: 1px solid $layout-border-color;
}

.footer-box:nth-child(1),
.footer-box:nth-child(2) {
  border-bottom: 1px solid $layout-border-color;
}

.catalog__title {
  border-top: 1px solid $catalog-border-color;
  border-bottom: 1px solid $catalog-border-color;
}

.goog-list__item {
  border-bottom: 1px solid $catalog-border-color;
}

// Кнопки

.navbar__js_closed .btn__main-menu {
  &::before {
    background-color: $btn-burger-color;
    box-shadow: 0 8px 0 0 $btn-burger-color, 0 16px 0 0 $btn-burger-color;
  }

  &:hover::before,
  &:focus::before {
    background-color: $btn-burger-color;
    box-shadow: 0 8px 0 0 $btn-burger-color, 0 16px 0 0 $btn-burger-color;
  }

  &:active::before {
    background-color: $btn-burger-color;
    box-shadow: 0 8px 0 0 $btn-burger-color, 0 16px 0 0 $btn-burger-color;
  }
}

.navbar__js_opened .btn__main-menu {
  &::before,
  &::after {
    background-color: $btn-burger-color;
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background-color: $btn-burger-color;
  }

  &:active::before,
  &:active::after {
    background-color: $btn-burger-color;
  }
}
